<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="ManiacEditor.Properties.EditorState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.UniversalNumbers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.KeyBinds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.CheatCodes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.OptionBox" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        
        <ManiacEditor.Properties.EditorState>
            <setting name="editEntitiesTransparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastQuickButtonState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="movingPlatformsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="annimationsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isPreRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="developerInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="preRenderSceneSelectCheckbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addConfigName" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="addConfigContents" serializeAs="String">
                <value>NULL</value>
            </setting>
            <setting name="addConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deviceCrashedString" serializeAs="String">
                <value>The DirectX Device just ran out of memory!
If your using the x86 version of Maniac Editor, you should upgrade to the x64 version!
Would you like to save your progress before Maniac Editor Closes?</value>
            </setting>
            <setting name="Level_ID" serializeAs="String">
                <value>-1</value>
            </setting>
        </ManiacEditor.Properties.EditorState>
        <ManiacEditor.Properties.UniversalNumbers>
            <setting name="angle_divide" serializeAs="String">
                <value>180</value>
            </setting>
        </ManiacEditor.Properties.UniversalNumbers>
        <ManiacEditor.Properties.KeyBinds>
            <setting name="NudgeFaster" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ScrollLock" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ScrollLockTypeSwitch" serializeAs="String">
                <value>None</value>
            </setting>
        </ManiacEditor.Properties.KeyBinds>
        <ManiacEditor.Properties.CheatCodes>
            <setting name="HideHUD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreezeTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableBackgroundPausing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableInstaSheildandDropDash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSuperPeelOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSuperPeelOutAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSuperMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSuperWithNoEmerlads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperFormsCanBeCancelled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfiniteLives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfiniteRings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableVapeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgressX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgressY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isPreRendering" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.CheatCodes>
        <ManiacEditor.Properties.Settings>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceCopyUnlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepLayersVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverLoadEntityTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolidTopDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolidAllButTopDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unkown1Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unkown2Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomLayerHigh" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLayerLow" serializeAs="String">
                <value />
            </setting>
            <setting name="FGLowerDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGLowDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGHighDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGHigherDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntitiesDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pixelCountMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tileToolbarDefaultZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="showManiaEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEncoreEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showBothEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showOtherEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFilter" serializeAs="String">
                <value>Mania (2)</value>
            </setting>
            <setting name="EnableWindowsClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReduceZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveObjectImportLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFilesViewDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneSelectRadioButton1On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SceneSelectRadioButton2On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scrollLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollLockDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollLockX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollLockY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSaveWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableFasterNudge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FasterNudgeValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RunGameInsteadOfScene" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePrePlusOffsets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProhibitEntityUseOnExternalClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forceBrowse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverShowThisAgain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseObjectRenderingImprovements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEditLayerBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseFasterSelectionRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysRenderObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMoreRenderUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysRenderLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysRenderTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlternativeRenderingMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableEntityReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunModLoaderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunTileManiacPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAniEdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunPalleteEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomGridSizeValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="x16Default" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="x128Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="x256Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomGridDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allowForSmoothSelection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysRenderRectangles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockOnSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preRenderSceneOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useBitOperators" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableRenderExlusions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableRunSceneMenuQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableRunSceneAutoInput" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.Settings>
        <ManiacEditor.Properties.OptionBox>
            <setting name="SceneSelectRadioButton1On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneSelectRadioButton2On" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.OptionBox>
    </userSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CubeBuild.Framework" publicKeyToken="d44ff0bfbbf33ae8" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.9.4818.32976" newVersion="1.9.4818.32976" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="IronPython" publicKeyToken="7f709c5b713576e1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.7.9.0" newVersion="2.7.9.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CubeBuild.Application" publicKeyToken="d44ff0bfbbf33ae8" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.9.4739.41907" newVersion="1.9.4739.41907" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
